In [24]:
from sklearn.linear_model import LinearRegression
import pandas as pd
from sklearn.metrics import r2_score

In [3]:
raw_data = pd.read_csv('olympics.csv')

raw_data

     team  year  athletes  events   age  height  weight  prev_medals  medals
0     AFG  1964         8       8  22.0   161.0    64.2          0.0       0
1     AFG  1968         5       5  23.2   170.2    70.0          0.0       0
2     AFG  1972         8       8  29.0   168.3    63.8          0.0       0
3     AFG  1980        11      11  23.6   168.4    63.2          0.0       0
4     AFG  2004         5       5  18.6   170.8    64.8          0.0       0
...   ...   ...       ...     ...   ...     ...     ...          ...     ...
2009  ZIM  2000        26      19  25.0   179.0    71.1          0.0       0
2010  ZIM  2004        14      11  25.1   177.8    70.5          0.0       3
2011  ZIM  2008        16      15  26.1   171.9    63.7          3.0       4
2012  ZIM  2012         9       8  27.3   174.4    65.2          4.0       0
2013  ZIM  2016        31      13  27.5   167.8    62.2          0.0       0

[2014 rows x 9 columns]

In [4]:
#Instantating the model
my_model = LinearRegression()

#The my_model should then follow the syntax

#model.fit('independent variable', 'dependent variable')
#where
#x == independent variable
#y == dependent variable

In [8]:
# TO extract the x and y
x = raw_data[['athletes','prev_medals']].copy()

x

      athletes  prev_medals
0            8          0.0
1            5          0.0
2            8          0.0
3           11          0.0
4            5          0.0
...        ...          ...
2009        26          0.0
2010        14          0.0
2011        16          3.0
2012         9          4.0
2013        31          0.0

[2014 rows x 2 columns]

In [9]:
#Now that i have the x copied, next is that i pass the categorical value into the x
# Remember, when i was writing the algorithm manually, i added unit coloumn (i.e 1) all through
# i.e i added 1 all through as another colummn

x['intercepts'] = 1

x

      athletes  prev_medals  intercepts
0            8          0.0           1
1            5          0.0           1
2            8          0.0           1
3           11          0.0           1
4            5          0.0           1
...        ...          ...         ...
2009        26          0.0           1
2010        14          0.0           1
2011        16          3.0           1
2012         9          4.0           1
2013        31          0.0           1

[2014 rows x 3 columns]

In [12]:
# After adding that, let me re arrange such that the intercept comes first
x  = x[['intercepts','athletes','prev_medals']]
x #SO now this is the x value, (i.e independent variable) we will be passing into the model

      intercepts  athletes  prev_medals
0              1         8          0.0
1              1         5          0.0
2              1         8          0.0
3              1        11          0.0
4              1         5          0.0
...          ...       ...          ...
2009           1        26          0.0
2010           1        14          0.0
2011           1        16          3.0
2012           1         9          4.0
2013           1        31          0.0

[2014 rows x 3 columns]

In [13]:
y = raw_data[['medals']].copy()
y #ANd now this y is the dependent variable to be passed into the model

      medals
0          0
1          0
2          0
3          0
4          0
...      ...
2009       0
2010       3
2011       4
2012       0
2013       0

[2014 rows x 1 columns]

In [16]:
# NOw, lets pass into the following the syntex below
# model.fit('independent variable', 'dependent variable')
#Since, my instantiation (i.e object) is my_model, then

my_model.fit(x,y)

LinearRegression()

In [21]:
# Now lets calculate the coefficient value.
# Remember the coefficient value (i.e B) as used when calculating manually
coefficient_value = my_model.coef_

coefficient_value

array([[0.        , 0.07111214, 0.73413679]])

In [23]:
# After getting the value for coefficinet value (B)
#Next is to calculate for yhat, i.e estimated Y, aka Prediction

prediction = my_model.predict(x)
# Recall, prediction == yHat from my manual math here
prediction

array([[-1.39299224],
       [-1.60632867],
       [-1.39299224],
       ...,
       [ 1.3783153 ],
       [ 1.61466709],
       [ 0.24258707]])

In [25]:
#Now next is to calculate the rsquare
# Becuase we are not caltulating manually, no need to solve for ssr and sst
# We only import the rsquare to help check the accuracy metrics
# we then say
# from sklearn.metrics import r2_score which has been done int he first cell

r2_score(y,prediction)

0.8723290685786969

In [ ]:
# Therefore the accuracy of the model built is 87%