In [4]:
import pandas as pd

from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score

In [6]:
raw_data = pd.read_csv('data.csv')

raw_data

      x          y
0    24  21.549452
1    50  47.464463
2    15  17.218656
3    38  36.586398
4    87  87.288984
..   ..        ...
140  56  59.162366
141  80  75.241484
142  26  28.223258
143  25  25.333237
144   8   6.364616

[145 rows x 2 columns]

In [10]:
x = raw_data[['x']].copy()

x

      x
0    24
1    50
2    15
3    38
4    87
..   ..
140  56
141  80
142  26
143  25
144   8

[145 rows x 1 columns]

In [11]:
x['intercepts'] = 1

x

      x  intercepts
0    24           1
1    50           1
2    15           1
3    38           1
4    87           1
..   ..         ...
140  56           1
141  80           1
142  26           1
143  25           1
144   8           1

[145 rows x 2 columns]

In [13]:
x = x[['intercepts','x']]
x

     intercepts   x
0             1  24
1             1  50
2             1  15
3             1  38
4             1  87
..          ...  ..
140           1  56
141           1  80
142           1  26
143           1  25
144           1   8

[145 rows x 2 columns]

In [16]:
y = raw_data[['y']].copy()

y

             y
0    21.549452
1    47.464463
2    17.218656
3    36.586398
4    87.288984
..         ...
140  59.162366
141  75.241484
142  28.223258
143  25.333237
144   6.364616

[145 rows x 1 columns]

In [21]:
model = LinearRegression()

model.fit(x,y)

LinearRegression()

In [22]:
coefficient = model.coef_

coefficient

array([[0.        , 0.98837662]])

In [24]:
# yHat == prediction

prediction = model.predict(x)
prediction

array([[24.11561348],
       [49.8134055 ],
       [15.22022393],
       [37.9528861 ],
       [86.38334029],
       [35.97613287],
       [12.25509408],
       [80.4530806 ],
       [25.10399009],
       [ 5.33645777],
       [16.20860055],
       [16.20860055],
       [24.11561348],
       [38.94126272],
       [53.76691196],
       [59.69717166],
       [26.09236671],
       [72.54606767],
       [29.05749656],
       [31.03424979],
       [67.60418459],
       [86.38334029],
       [57.72041842],
       [53.76691196],
       [83.41821044],
       [57.72041842],
       [48.82502888],
       [20.16210701],
       [89.34847014],
       [47.83665226],
       [ 4.34808115],
       [25.10399009],
       [41.90639257],
       [ 0.39457469],
       [59.69717166],
       [92.31359999],
       [38.94126272],
       [ 7.313211  ],
       [21.15048363],
       [67.60418459],
       [83.41821044],
       [ 0.39457469],
       [57.72041842],
       [19.1737304 ],
       [35.97613287],
       [19.1737304 ],
       [58.70879504],
       [50.80178211],
       [19.1737304 ],
       [33.01100302],
       [84.40658706],
       [43.8831458 ],
       [ 5.33645777],
       [58.70879504],
       [14.23184731],
       [ 9.28996423],
       [74.5228209 ],
       [68.5925612 ],
       [10.27834085],
       [17.19697716],
       [57.72041842],
       [73.53444428],
       [21.15048363],
       [50.80178211],
       [19.1737304 ],
       [49.8134055 ],
       [24.11561348],
       [ 0.39457469],
       [12.25509408],
       [74.5228209 ],
       [21.15048363],
       [63.65067812],
       [ 5.33645777],
       [57.72041842],
       [32.0226264 ],
       [40.91801595],
       [ 7.313211  ],
       [ 4.34808115],
       [ 5.33645777],
       [48.82502888],
       [89.34847014],
       [ 3.35970454],
       [11.26671747],
       [32.0226264 ],
       [82.42983383],
       [25.10399009],
       [82.42983383],
       [26.09236671],
       [75.51119751],
       [94.29035322],
       [52.77853534],
       [76.49957413],
       [41.90639257],
       [25.10399009],
       [53.76691196],
       [54.75528858],
       [ 0.39457469],
       [72.54606767],
       [34.98775625],
       [85.39496368],
       [89.34847014],
       [13.2434707 ],
       [45.85989903],
       [45.85989903],
       [32.0226264 ],
       [ 8.30158762],
       [70.56931443],
       [28.06911994],
       [24.11561348],
       [55.74366519],
       [48.82502888],
       [78.47632736],
       [89.34847014],
       [88.36009352],
       [40.91801595],
       [27.08074332],
       [57.72041842],
       [26.09236671],
       [31.03424979],
       [69.58093782],
       [70.56931443],
       [38.94126272],
       [ 7.313211  ],
       [47.83665226],
       [55.74366519],
       [44.87152241],
       [40.91801595],
       [ 3.35970454],
       [36.96450949],
       [24.11561348],
       [67.60418459],
       [46.84827565],
       [27.08074332],
       [67.60418459],
       [73.53444428],
       [94.29035322],
       [78.47632736],
       [21.15048363],
       [94.29035322],
       [53.76691196],
       [55.74366519],
       [79.46470398],
       [26.09236671],
       [25.10399009],
       [ 8.30158762]])

In [ ]:
r2_score =